@import "../../../resources/sass/variables";
#send-money {
  margin-top: 50px;
  padding-right: 50px;
  border-right: solid 1px $brand-grey;
  h1 {
    font-size: 2em;
    padding: 5px 0 15px 0;
    margin: 0;
  }
}