@import "../../../../../resources/sass/variables";
form {
  fieldset {
    margin-bottom: 45px;
    label {
      font-size: 0.9rem;
      display: block;
    }

    input[type="text"],
    input[type="email"] {
      outline: none;
      border: none;
      border-bottom: 1px solid $brand-grey;
      &.error {
        border-bottom-color: $brand-alert;
      }
      &:focus-within,
      &:active {
        border-bottom-color: $brand-purple;
      }
    }
    input[name="amount"] {
      font-size: 2rem;
    }
  }

  .btn-primary {
    min-width: 343px;
  }

  .help-block {
    color: #d0021b;
  }
}



