@import "../../../resources/sass/variables";
#my-account {

  .dial {
    margin: 0 auto;
    font-size: 0.85rem !important;
  }

  margin-top: 50px;
  padding-left: 50px;
  min-width: 415px;
  h1 {
    font-size: 2em;
    padding: 5px 0 15px 0;
    margin: 0;
  }

  h3 {
    font-size: 1.2rem;
  }

  .beneficiary {

    span {
      display: block;
      color: grey;
      font-size: 0.8rem;
    }
  }
  .amount {
    font-weight: bold;
    text-align: right;
    font-size: 1.2rem;
  }

  .dial {
    margin: 0 auto;
  }
  .money-sent,
  .balance {
    height: 55px;
    font-weight: bold;
    font-size: 1.2rem;
     width: 35%;
    .account-label {
      display: block;
      font-weight: normal;
      font-size: 1rem;
      margin-left: 15px;
    }
  }
  .money-sent {
    display: block;
    float: left;
    text-align: right;
    margin-right: 15px;
  }
  .balance {
    display: block;
    float: right;
    text-align: left;
  }


}